@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="card mt-5">
                <div class="card-body">
                    <a class="d-flex justify-content-center mt-3">
                        <img src="~/dashboard/assets/images/crud.jpg" height="50" width="100">
                    </a>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="auth-header">
                                <h2 class="text-secondary mt-5"><b>Enter Email</b></h2>
                            </div>
                        </div>
                    </div>
                    <form asp-action="SendEmail" asp-controller="Account" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email Address">
                            <label asp-for="Email">Email Address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="Submit" class="btn btn-secondary p-2">Reset Password</button>
                        </div>
                    </form>
                    <hr>
                    <div class="d-grid mt-4">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-secondary p-2">Already have an account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

