@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="card mt-5">
                <div class="card-body">
                    <a class="d-flex justify-content-center mt-3">
                        <img src="~/dashboard/assets/images/crud.jpg" height="50" width="100">
                    </a>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="auth-header">
                                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                                <p class="f-16 mt-2">Enter your credentials to continue</p>
                            </div>
                        </div>
                    </div>
                    <h5 class="my-4 d-flex justify-content-center">Sign Up with Email address</h5>
                    <form asp-action="ResetPassword" asp-controller="Account" method="post">

                        <div class="form-floating mb-3">
                            <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                            <label asp-for="NewPassword">New Password</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
                            <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="Submit" class="btn btn-secondary p-2">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

