@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}
@if (TempData["Error"]!=null)
{
    <script type="text/javascript">
        toastr.error('@TempData["Error"]');
    </script>
}
<h1>Create New Department</h1>
<br/>
<form asp-action="Create" asp-controller="Department" method="post">
    @await Html.PartialAsync("~/Views/Department/PartialViews/CreateEditPartialView.cshtml",Model)
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a asp-action="Index" asp-controller="Department" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}