@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User @Model.FName Details</h1>
<br />
@await Html.PartialAsync("~/Views/User/PartialViews/DeleteDetailsPartialView.cshtml", Model)
<a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="User" class="btn btn-primary">Edit</a>
<a asp-action="Index" asp-controller="User" class="btn btn-light">Back To List</a>